
@{
    ViewBag.Title = "AddRegister";
}

<h2>AddRegister</h2>

<div class="row">
    <form method="post" action="">
        <table>
            @*<input type="hidden" value="0" name="Id" />*@
            <tr>
                <td>Категорія</td>
                <td><input type="text" value="" name="Register_Category" /></td>
            </tr>
            <tr>
                <td>Тип видатків\доходів</td>
                <td><input type="text" value="" name="Register_Type" /></td>
            </tr>
            <tr>
                <td>Сума</td>
                <td><input type="text" value="" name="Register_Balance" /></td>
            </tr>
            <tr>
                <td>Рахунок</td>
                <td><input type="text" value="" name="Register_Bill" /></td>
            </tr>
            <tr>
                <td>Дата</td>
                <td><input type="text" value="" name="Register_Date" /></td>
            </tr>
            <tr>
                <td>Коментар</td>
                <td><input type="text" value="" name="Comments" /></td>
            </tr>
        </table>
        <input type="submit" value="Зберегти" />
        </form>
</div>

