<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://flashfinance.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>flashfinance.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>flashfinance</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$flashfinance</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="FlashFinanceEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=velimyrdb.database.windows.net;Initial Catalog=FlashFinance;Persist Security Info=True;User ID=u_flashfinance;Password=Qwerty123456;Application Name=EntityFramework" Name="Data Source=velimyrdb.database.windows.net;Initial Catalog=FlashFinance;Persist Security Info=True;User ID=u_flashfinance;Password=Qwerty123456;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FlashFinance_Web.FlashFinanceEntities, FlashFinance_Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DBModel_File.csdl|res://*/DBModel_File.ssdl|res://*/DBModel_File.msl;provider=System.Data.SqlClient;provider connection string="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Docs\Repository\FlashFinance_Web\FlashFinance_Web\App_Data\DB.mdf;Integrated Security=True;Connect Timeout=30"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FlashFinanceEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=velimyrdb.database.windows.net;Initial Catalog=FlashFinance;Persist Security Info=True;User ID=u_flashfinance;Password=Qwerty123456;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>